body {
    font-family: 'Open Sans';
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
}

.nav {
  display: flex;
  align-items: center;
}

.product-image {
  border-radius: 10%;
  width: 100%;
  height: auto;
}

#homepage-title {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 3px;
}

h2 {
  margin-top: 3px;
}

.product-grid {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 5px;
  column-gap: 5px;
  margin-bottom: 20px;
}

#terms-link {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.product-detail-image {
  width: 75%;
  height: auto;
}